body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:#A9C4EC;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#6666FF;
}

li {
  float: left;
}

li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5252CC;
}

.main_name {
  width: 13%;
  background-color: #6666FF;
  padding: 14px 16px;
  font-size: 24px;
}

.main_name a {
  text-decoration: none;
}