/* Base classes */

body {
  font-family:"Comfortaa", Geneva, Tahoma, sans-serif;
  background-color:#A9C4EC;
}

.top_right_nav {
  position: absolute; 
  top: 0; 
  right:0; 
  padding: 6px; 
  color: white;
  font-size: 12px;
  text-align: right;
}

.top_right_nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top_right_nav li {
  float: right;
}

.top_right_nav li a {
  display: block;
  color:white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

.top_right_nav li a:hover{
  color:gray;
}

.nav_bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#6666FF;
  text-align: center;
}

.nav_bar li {
  float: left;
}

.nav_bar li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar li a:hover {
  background-color: #5252CC;
}

.main_name {
  display:inline-block;
  background-color: #6666FF;
  padding: 14px 16px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
}

.main_name a {
  text-decoration: none;
}

/* Home page classes */

.page-blocks {
  flex:1;
  background-color:darkorchid;
  padding: 14px 16px;
  font-size: 18px;
  border-radius: 15px;
  color:white;
}
.page-blocks a{
  color:white;
  overflow:hidden;
}

.page-blocks a:hover{
  color:lightgray;
}

.page-blocks li{
  text-decoration:none;
}

.home-page {
  display:flex;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}

/* Login classes */
.login-div {
  background-color: #6666FF;
  width: 520px;
  border-radius: 30px;

  padding: 50px;
  margin: auto;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-input {
  width: 240px;
  height: 20px;
}

.login-text {
  font-size: 20px;
  font-weight: bold;
}

.login-button {
  font-size: 20px;
  padding: 10px 40px;
  background-color: #9C27B0;
  border: 0;
  border-radius: 10px;
}

/* SignUp */


.signup-div {
  background-color: #6666FF;
  width: 850px;
  border-radius: 30px;

  padding: 50px;
  margin: auto;

  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Artist */

.artist-name {
  width: 400px;
  float: left;
}

.bio {
  margin-left: 400px;
}

.artist-page {
  display:flex;
  justify-content: center;
  position: relative;
  text-align: left;
  width: 100%;
}

.song-list {
  flex:1;
  background-color:darkslateblue;
  padding: 14px 16px;
  font-size: 18px;
  border-radius: 15px;
  color:white;
}

.song-list a{
  color:white;
  overflow:hidden;
}
