{% extends 'drop_the_beat/base.html' %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
<div class="page-blocks">
    <h1>About</h1>
    <p>Drop The Beat is a website for music lovers everywhere to review and
        discuss music, and a place where artists can reach new audiences. If you create an account, 
        you can upload music that you personally enjoy, and talk about why you love it so
        much. You can even listen to new songs that you discover using our built in Spotify player!</p>
</div>
{% endblock %}
