{% extends "drop_the_beat/base.html" %}

{% block title_block %}
    {{ artist.name }}
{% endblock %}

{% block body_block %}
    <div class="page-blocks">
    <div class="artist-name">
        <h1>{{ artist.name }}</h1>
        Views: {{ artist.profile_views }}
    </div>


    <div class="bio">
    {% if artist.bio %}
        <p>{{ artist.bio }}</p>
    {% else %}
        <p>No bio</p>
    {% endif %}
    </div>
    </div>

    <br />

    {% if albums %}
        {% for album_name, songs in albums.items %}

            <div class="song-list">

            <h2>{% if songs.0.album_art %}
                <img src="{{ songs.0.album_art }}" alt="Album Art" width="150" height="150">
            {% else %}
                <p>No album art available</p>
            {% endif %}
            {{ album_name }} 
            </h2>

                <ul>
                {% for song in songs %}
                
                    <li><a href="{% url 'drop_the_beat:song' song.id %}">{{ song.title }}</a> (Genre: {{ song.genre.genre }})</li>

                {% endfor %}
            </ul>
            </div>


        <br />
        {% endfor %}

    {% else %}
        <p>No songs available.</p>
    {% endif %}

    <a href="{% url 'artists' %}">Back to Artists</a>
    
{% endblock %}