<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    
    <title>
        Drop The Beat - 
        {% block title_block %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'drop_the_beat/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
</head>
<body>

    <div class="main_name">
    <a href="{% url 'drop_the_beat:home' %}">Drop The Beat</a>
    </div>
    <br />
    <div class = "top_right_nav">
        <ul>
            <li>
                <a href="{% url 'drop_the_beat:contact' %}">Contact Us</a></li>

            {% if not user.is_authenticated %}
            <li>
                <a href="{% url 'drop_the_beat:login' %}">Login</a>
            </li>
            
            <li>
                <a href="{% url 'drop_the_beat:signUp' %}">Sign Up</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'drop_the_beat:logout' %}">Logout</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'drop_the_beat:about' %}">About</a></li>
        </ul>
        {% if user.is_authenticated %}
            Hey there, {{ user.username }}!
        {% else %}
            Log in to add songs and much more!
        {% endif %}
    </div>
    <br />

    <div class="nav_bar">
    <ul>
    <li>
        <a href="{% url 'drop_the_beat:home' %}">Home</a></li>
    
    <li>
        <a href="{% url 'drop_the_beat:genres' %}">Genres</a></li>

    
    <li>
        <a href="{% url 'drop_the_beat:artists' %}">Artists</a></li>
    
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'drop_the_beat:addSong' %}">Add Song</a>
    </li>
    {% endif %}
    </ul>
    </div>
<br />
    {% block body_block %}
    {% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>