<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    
    <title>
        Drop The Beat - 
        {% block title_block %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'drop_the_beat/style.css' %}">
</head>
<body>

    <div class="main_name">
    <a href="{% url 'drop_the_beat:home' %}">Drop The Beat</a>
    </div>

    <br />
    
    <ul>
    <li>
        <a href="{% url 'drop_the_beat:home' %}">Home</a></li>
    <li>
        <a href="{% url 'drop_the_beat:about' %}">About</a></li>
    <li>
        <a href="{% url 'drop_the_beat:genres' %}">Genres</a></li>

    
    <li>
        <a href="{% url 'drop_the_beat:artists' %}">Artists</a></li>
    
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'drop_the_beat:addSong' %}">Add Song</a>
    </li>
    {% endif %}

    
    {% if not user.is_authenticated %}
    <li>
        <a href="{% url 'drop_the_beat:login' %}">Login</a>
    </li>
    
    <li>
        <a href="{% url 'drop_the_beat:signUp' %}">Sign Up</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'drop_the_beat:logout' %}">Logout</a>
    </li>
    {% endif %}
    </ul>

    <div style="position: absolute; top: 0; right:0; padding: 9px; color: white;"> 
        {% if user.is_authenticated %}
            Hey there, {{ user.username }}!
        {% else %}
            Log in to add songs and much more!
        {% endif %}
    </div>
<br />
    {% block body_block %}
    {% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>