{% extends "drop_the_beat/base.html" %}

{% block title_block %}
    {{ genre.genre }} Genre
{% endblock %}

{% block body_block %}
<div class="page-blocks">
    <div class="genre-page">
    <h1>Songs in the {{ genre.genre }} genre:</h1>
    
    {% if songs %}
        <ul>
            {% for song in songs %}
                <li><a href="{% url 'drop_the_beat:song' song.id %}">{{ song.title }}</a> by {{ song.artist.name }}</li>
                <br />
            {% endfor %}
        </ul>
    {% else %}
        <p>No songs available in this genre.</p>
    {% endif %}
    </div>
</div>
{% endblock %}