{% extends "drop_the_beat/base.html" %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
<div class="home-page">
<div class="home-page-blocks">
    Genres
    <br />
    {% if genres %}
    <ul>
        {% for genre in genres %}
        <li><a href="{% url 'drop_the_beat:genre_detail' genre.id %}">{{ genre.genre }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no genres present.</strong>
    {% endif %}
</div>

<div class="home-page-blocks">
    Top 10 songs
    <br />
    {% if popular_songs %}
    <ul>
        {% for song in popular_songs %}
        <li><a href="{% url 'song' song.id %}">{{ song.title }}</a> by {{ song.artist.name }}</li>
        <br />
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no songs present.</strong>
    {% endif %}
</div>

<div class="home-page-blocks">
    Popular artists
    <br />
    {% if popular_artists %}
    <ul>
        {% for artist in popular_artists %}
        <li><a href="{% url 'drop_the_beat:artist_detail' artist.id %}">{{ artist.name }}</a></li>
        <br />
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no artists present.</strong>
    {% endif %}
</div>

</div>
{% endblock %}