{% extends "drop_the_beat/base.html" %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div class="login-div">
        <h1>Log In</h1>

        <form method="POST" action="/drop_the_beat/login/" enctype="multipart/form-data">
            {% csrf_token %}
    
            <p>
                <label class="login-text" for="username">Username:</label>
                <input class="login-input" type="text" name="username" required>
            </p>
    
            <p>
                <label class="login-text" for="password">Password:</label>
                <input class="login-input" type="password" name="password" required>
            </p>
    
            <button class="login" type="submit">Log in</button>
        </form>

        <p>Don't have an account? <a href="/drop_the_beat/signUp">Sign up here</a></p>
        <br>
    </div>
{% endblock %}
