{% extends "drop_the_beat/base.html" %}

{% block title_block %}
    song.title
{% endblock %}

{% block body_block %}
    <h1>{{ song.title }}</h1>

    {% if song.spotify_track_id %}
        <iframe src="https://open.spotify.com/embed/track/{{song.spotify_track_id}}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% else %}
        <p> No music preview avaliable</p>
    {% endif %}

    <h2>Reviews</h2>

    {% if error %}
        <div style="color: red; padding: 10px; margin-bottom: 15px; border: 1px solid red; background-color: #ffe6e6;">
            {{ error }}
        </div>
    {% endif %}

    {% if reviews and song.title in reviews %}
        <ul>
            {% for review_list in reviews.values %}
                {% for review in review_list %}
                    <li>{{ review.user }}: {{review.comment}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h3>Add a Review</h3>
        <form method="post">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit">Submit Review</button>
        </form>
    {% else %}
        <p><a href="{% url 'drop_the_beat:login' %}">Login</a> to leave a review!</p>
    {% endif %}

{% endblock %}